# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# DBT artifacts
dbt_project/target/
dbt_project/dbt_modules/
dbt_packages/
logs/
target/
dbt_adworks/package-lock.yml
.user.yml

# Environment files
.env
.env.*
.venv

# OS-specific
.DS_Store
Thumbs.db

# Jupyter notebook metadata
.ipynb_checkpoints/

# Docker-related
docker/postgres_data/

# VSCode / IDE config
.vscode/
.idea/

# Notes (if you keep any scratch files or temp stuff)
notes/*_tmp.md
